<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>carousel</title>
    <script
      src="https://kit.fontawesome.com/4d5b10da9f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="carousel.css" />
  </head>
  <body>
    <section>
      <img src="maria.jpg" alt="author" class="img" />
      <i class="fa-solid fa-circle-chevron-left icon icon1"></i>
      <i class="fa-solid fa-circle-chevron-right icon icon2"></i>

      <div class="dots">
        <div class="single-dot"></div>
        <div class="single-dot"></div>
        <div class="single-dot"></div>
        <div class="single-dot"></div>
      </div>

      <div>
        <blockquote>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem,
          ipsum. Vel doloremque perspiciatis dolorem culpa quod iste explicabo
          quos, provident labore sequi natus assumenda! Nisi cumque sit,
          incidunt necessitatibus veniam voluptatibus deleniti, facere possimus
          recusandae ullam sequi unde amet. Quidem, aut distinctio, iure
          repellat facere inventore sint temporibus, id non eaque illo?
        </blockquote>

        <p>Maris de Almeida</p>
        <p class="sec">Senior Procudt Manager at EDP Commercials</p>
      </div>
    </section>
  </body>
</html>
