<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chair Data</title>
    <link rel="stylesheet" href="carousel2.css" />
  </head>
  <body>
    <table class="table">
      <tr class="row">
        <td class="column">Chair</td>
        <td class="column">The Laid Back</td>
        <td class="column">The Worker Bee</td>
        <td class="column">The Chair 4/2</td>
      </tr>
      <tr class="row">
        <td class="column c1">Width</td>
        <td class="column">80cm</td>
        <td class="column">60cm</td>
        <td class="column">220cm</td>
      </tr>
      <tr class="row">
        <td class="column c1">Height</td>
        <td class="column">100cm</td>
        <td class="column">110cm</td>
        <td class="column">90cm</td>
      </tr>
      <tr class="row">
        <td class="column c1">Depthh</td>
        <td class="column">70cm</td>
        <td class="column">65cm</td>
        <td class="column">80cm</td>
      </tr>
      <tr class="row">
        <td class="column c1">Weight</td>
        <td class="column">16kg</td>
        <td class="column">22kg</td>
        <td class="column">80kt</td>
      </tr>
    </table>
  </body>
</html>
